agate==1.7.0
agate-dbf==0.2.3
agate-excel==0.4.1
agate-sql==0.7.2
aiohttp==3.9.5
aiosignal==1.3.1
airbyte-cdk==1.8.0
airbyte_protocol_models==0.12.2
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
appnope==0.1.4
asn1crypto==1.5.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
Babel==2.15.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.3
beautifulsoup4==4.12.3
black==24.4.2
blessed==1.20.0
blinker==1.9.0
boto3==1.34.144
botocore==1.34.144
bracex==2.4
cachetools==4.2.4
cattrs==23.2.3
certifi==2024.7.4
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
clickhouse-toolset==0.32.dev0
cloudpickle==2.2.1
colorama==0.4.6
comm==0.2.2
croniter==1.3.8
cryptography==42.0.8
csvkit==2.0.1
daff==1.3.46
dataclasses-json==0.6.7
db-dtypes==1.3.0
dbfread==2.0.7
dbt-adapters==1.7.0
dbt-common==1.10.0
dbt-core==1.8.8
dbt-extractor==0.5.1
dbt-semantic-interfaces==0.5.1
dbt-snowflake==1.8.4
debugpy==1.8.2
decorator==5.1.1
deepdiff==7.0.1
defusedxml==0.7.1
Deprecated==1.2.14
diff_cover==9.2.0
distlib==0.3.8
distro==1.9.0
dnspython==2.6.1
dpath==2.2.0
duckdb==1.1.2
et_xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.0.1
Faker==26.0.0
ffmpeg-python==0.2.0
filelock==3.15.4
Flask==3.0.2
Flask-Cors==4.0.0
frozenlist==1.4.1
fsspec==2024.12.0
future==1.0.0
genson==1.2.2
gitdb==4.0.11
GitPython==3.1.32
google-api-core==1.34.1
google-api-python-client==2.5.0
google-auth==1.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.5.3
google-cloud-bigquery==3.18.0
google-cloud-core==2.4.1
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
gspread==6.1.2
gspread-dataframe==4.0.0
h11==0.14.0
hologram==0.0.16
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.27.1
humanfriendly==8.2
humanize==4.10.0
identify==2.6.1
idna==3.7
importlib-metadata==6.11.0
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.26.0
isodate==0.6.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jedi==0.19.1
Jinja2==3.1.4
jinja2-simple-tags==0.6.1
jira==3.8.0
jiter==0.8.2
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==0.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
keep-presence==1.0.7.1
keyring==24.3.1
langchain==0.1.16
langchain-community==0.0.32
langchain-core==0.1.42
langchain-text-splitters==0.0.2
langsmith==0.1.86
leather==0.4.0
Logbook==1.5.3
loguru==0.7.2
lxml==5.3.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
mashumaro==3.14
matplotlib-inline==0.1.7
mdurl==0.1.2
minimal-snowplow-tracker==0.0.2
more-itertools==8.14.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==2.8.8
nodeenv==1.9.1
numexpr==2.10.1
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
olefile==0.47
openai==1.55.3
openapi-schema-pydantic==1.2.4
openpyxl==3.1.5
ordered-set==4.1.0
orjson==3.10.6
packaging==23.2
pandas==1.5.3
paramiko==3.4.0
parsedatetime==2.4
parso==0.8.4
pathspec==0.11.2
pendulum==3.0.0
pexpect==4.9.0
pg-activity==3.5.1
pickleshare==0.7.5
pillow==10.4.0
pinecone-client==4.1.2
pinecone-plugin-interface==0.0.7
pip-review==1.3.0
platformdirs==2.6.2
platzi_data @ git+ssh://git@github.com/PlatziDev/BL-Data-Core.git@8e8c34aea6dd2bbc38bfc5793bd85e7104c75f42
pluggy==1.5.0
pre-commit==3.8.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==3.20.3
psutil==6.0.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.5.2
pydantic_core==2.14.5
Pygments==2.18.0
PyJWT==2.8.0
PyNaCl==1.5.0
pynput==1.7.7
pyobjc-core==10.3.1
pyobjc-framework-ApplicationServices==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-CoreText==10.3.1
pyobjc-framework-Quartz==10.3.1
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyperclip==1.8.2
pyperclip-cli==0.1.2
pyrate-limiter==3.1.1
pyrsistent==0.20.0
pytest==8.3.3
python-dateutil==2.8.2
python-dotenv==1.0.1
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2024.1
pytzdata==2020.1
PyYAML==6.0.1
pyzmq==26.0.3
referencing==0.35.1
regex==2024.5.15
requests==2.31.0
requests-cache==1.2.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.19.0
rsa==4.9
s3transfer==0.10.2
safetensors==0.5.2
sentry-sdk==0.14.3
shandy-sqlfmt==0.11.1
six==1.16.0
slack_sdk==3.31.0
smmap==5.0.1
sniffio==1.3.1
snowflake-connector-python==3.11.0
snowflake-snowpark-python==1.24.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.31
sqlfluff==3.2.5
sqlfluff-templater-dbt==3.2.5
sqlparse==0.5.1
stack-data==0.6.3
sympy==1.13.1
tblib==3.0.0
tenacity==8.5.0
text-unidecode==1.3
tiktoken==0.7.0
time-machine==2.14.2
tinybird-cli==5.10.1
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.0
toposort==1.10
torch==2.5.1
tornado==6.0
tqdm==4.66.4
traitlets==5.14.3
transformers==4.47.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
Unidecode==1.1.1
uritemplate==3.0.1
url-normalize==1.4.3
urllib3==1.26.19
virtualenv==20.26.5
wcmatch==8.4
wcwidth==0.2.13
Werkzeug==3.1.3
whisper-openai==1.0.0
wrapt==1.16.0
xlrd==2.0.1
yarl==1.9.4
yt-dlp==2025.1.26
zipp==3.19.2
